@{
    ViewData["Title"] = "How to use?";
}

<div class="text-center">
    <h1 class="display-4">How do i start?</h1>

     <p>It is wery simple, just: </p><br>
         <p>> First klick a Categories button on the sidebar to add a new category; </p><br>
         <p>> Then click a Transactions button to add your recent purchases or ernings; </p><br>
         <p>> Finnally go to Dashboard to see the data on your expenses! </p><br> 








    <br><br><br><br><br><br><p>The web-application was created by Andrii Veretko, a student of Vasyl Stefanyk Precarpathian National University.        
Faculty of Mathematics and Computer Science
</p>
</div>
