@{
    ViewData["Title"] = "About us";
}

<div class="text-center">
    <h1 class="display-4">About us</h1>
    <p>The web-application is created by Andrii Veretko, a student of Vasyl Stefanyk Precarpathian National University. <br>       
Faculty of Mathematics and Computer Science
</p>
</div>
